/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-slick-slider-gutenberg-block-slick-slider-gutenberg-block {
	border: 1px dotted #f00;
	.block-editor-button-block-appender {
		width: 100%;
		justify-content: center;
		margin-top: 1em;
	}
}
